<div class="loading-screen-wrapper" *ngIf="loading">
    <div class="loading-screen-icon">
      Loading...
    </div>
  </div>
<div class="container d-flex align-items-center bd-highlight in" style="margin-top: 5%;">
    <br>
    <img src="favicon.ico" class="img-thumbline img" alt="Avtar" style="width: 40%;">
    <div style="display: inline;" class="la">
       <h2 style="display: inline;"> &nbsp;TalkToYou</h2>
    </div>
</div>
<form class=" container border d-flex align-items-center bd-highlight in" style=" width: 50%; opacity: 99%; margin-top: 0%; " (submit)="submit()" >
    <div class="container form-group center-block ">
        <br>
        <div class="container d-flex align-items-center  justify-content-center">
        <label >
            Set password &nbsp;&nbsp;
        </label>
        <input type="password"   class=" form-control in"  placeholder="password" name="password" [(ngModel)]="password" value="{{password}}">
        </div>
        <br>
        <div class="container d-flex align-items-center  justify-content-center">
            <label>
                Confirm password &nbsp;
            </label>
            <br>
            <input type="password"   class="form-control in"  placeholder="password" name="cpassword" [(ngModel)]="cpassword" value="{{cpassword}}">
        </div>
        <br>
        <div class="container d-flex align-items-center  justify-content-center">
            <small class="badge" style="color: rgb(243, 94, 94);" >{{validation()}}</small>
        </div>
        <br>
        <div class="container d-flex align-items-center  justify-content-center">
            <a  *ngIf="isDisabled()"
            id="l1"><button class="btn btn-primary" type="submit" id="btn">Submit</button></a>
            <a *ngIf="!isDisabled()"><button class="btn btn-primary" type="submit" id="btn">Submit</button></a>
            <router-outlet></router-outlet>
        </div>
        <br>
    </div>
</form>
